header {
    width: 100%;
    height: 64px;
}

header #header-logo {
    display: flex;
    float: left;
    height: 100%;
    margin: auto;
    padding: 12px;
}

header #header-logo img {
    height: 100%;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
    overflow: hidden;
}

header li {
    float: right;
    width: 150px;
    height: 100%;
}

header li a {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    height: 100%;
    justify-content: center;
    white-space: nowrap;
}

#articles {
    padding-inline: min(7%, 100px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#articles a {
    width: 240px;
    height: 265px;
    margin-inline: 30px;
    margin-block: 20px;
    padding-inline: 20px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#articles a h2 {
    font-size: 35px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

#articles span {
    text-align: center;
    width: 100%;
    font-size: 80px;
}

.warning {
    color: var(--color-button-cancel);
}

dialog {
    background-color: var(--color-overlay);
    margin: auto;
    padding: 2rem;
    border-radius: 20px;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

dialog h1 {
    margin-top: 0.5rem;
}

.double-button {
    width: 100%;
    margin-top: 1.5rem;
}

form.inside-overlay {
    position: static;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form.inside-overlay label {
    padding-top: 1rem;
}

.chart {
    width: 100px;
}

.charts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart {
    width: 40vw;
    height: 20vw;
    margin: 1.5vw;;
    padding: 1vw;
    float: left;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.chart h1 {
    width: 100%;
    font-size: 4vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.chart h2 {
    width: 100%;
    font-size: 1rem;
}

.canvas-container {
    width: 90%;
    max-height: 15vw;
    margin-inline: auto;
}

canvas {
    display: unset !important;
}

#contact {
    padding-top: 2rem;
}

.delete-chart-button {
	position: absolute;
    right: 1.5rem;
	min-width: unset;
	right: 1rem;
    top: 1rem;
    padding-inline: 0.3rem;
    padding-block: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart>span {
    text-align: center;
    width: 100%;
    font-size: 11vw;
    display: flex;
    justify-content: center;
}

.charts a .chart {
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    header ul {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    header li {
        width: 75px;
    }
    header li a {
        text-indent: 150vw;
    }
    header li a span {
        padding-top: 20px;
        text-indent: 0;
    }
    .charts .chart {
        width: 80vw;
        height: 40vw;
    }
    .chart h1 {
        font-size: 8vw;
    }
    .chart>span {
        font-size: 22vw;
    }
}

@media screen and (max-width: 615px) {
    header li {
        width: 0;
    }
}

#color-themes-buttons button{
    width: 80%;
}

#color-themes-buttons button{
    margin: 0.5vw;
}

#cookiefooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}