:root {
    /* Platinum theme */
  --color-platinum-deepsea: #223469;
  --color-platinum-liquid: #25a8e0;
  --color-platinum-sky: #94d3ef;
  --color-platinum-iron: #696969;
  --color-platinum-silver: #bab9b9;
  --color-platinum-mercury: #e6e6e6;
  --color-platinum-platinum: #f5f5f5;
  --color-platinum-chrome: #f7f7f7;
  --color-platinum-tin: #ffffff;
  --color-platinum-patina: #5caf01;
  --color-platinum-brass: #d10720;
  --color-platinum-rust: #ef9500;
  --color-platinum-copper: #ff8a8a;

    /* Night theme */
  --color-night-universe: #0f1a3a;
  --color-night-neptune: #242d48;
  --color-night-uranus: #2e3650;
  --color-night-milkyway: #3d4769;
  --color-night-gravity: #545d78;
  --color-night-night: #1c2645;
  --color-night-space: #25a8e0;
  --color-night-meteor: #b3e0f3;
  --color-night-star: #8491c1;
  --color-night-cloud: #ffffff;
  --color-night-earth: #5caf01;
  --color-night-sun: #fd5252;
  --color-night-moon: #ffd3d3;
  --color-night-glow: #ef9500;
  --color-night-fire: #ff722c;

    /* Elements theme */
  --color-elements-ice: #f7f7f7;
  --color-elements-light: #f1f1f1;
  --color-elements-flow: #e6e6e6;
  --color-elements-wind: #d8d8d8;
  --color-elements-water: #cfe7f7;
  --color-elements-air: #8dbad9;
  --color-elements-oxygen: #0a71ba;
  --color-elements-electric: #223469;
  --color-elements-space: #3e3e3e;
  --color-elements-snow: #ffffff;
  --color-elements-atmos: #4a95cb;
  --color-elements-magnet: #5aaa95;
  --color-elements-fire: #e05364;
  --color-elements-smoke: #e3a6ad;
  --color-elements-spark: #f5a623;
  --color-elements-stone: #bab9b9;
  --color-elements-rain: #696969;

    /* Business theme */
  --color-business-screen: #ffffff;
  --color-business-computer: #e6e6e6;
  --color-business-meeting: #bab9b9;
  --color-business-tablet: #696969;
  --color-business-window: #aab2c3;
  --color-business-desk: #52658f;
  --color-business-workspace: #223469;
  --color-business-suit: #dae3f5;
  --color-business-alert: #bd4755;
  --color-business-postit: #ef9500;
  --color-business-activity: #b9b68d;
  --color-business-message: #d2a1a7;

}

/* Platinum theme */
:root,
:root.color-platinum {
  --color-header: var(--color-platinum-tin);
  --color-header-hover: var(--color-platinum-sky);
  --color-background: var(--color-platinum-mercury);
  --color-overlay: var(--color-platinum-tin);

  --color-text: var(--color-platinum-deepsea);
  --color-text-header: var(--color-platinum-deepsea);
  --color-text-dropdown: var(--color-platinum-deepsea);
  --color-text-label: var(--color-platinum-iron);
  --color-text-overlay: var(--color-platinum-deepsea);
  --color-text-button: var(--color-platinum-tin);
  --color-text-button-hover: var(--color-platinum-tin);
  --color-text-active: var(--color-platinum-liquid);
  --color-text-disabled: var(--color-platinum-silver);

  --color-radio-hover: var(--color-platinum-sky);
  --color-radio-checked: var(--color-platinum-mercury);
  --color-radio-content-checked: var(--color-platinum-liquid);

  --color-border-textfield: var(--color-platinum-iron);

  --color-button-enabled: var(--color-platinum-liquid);
  --color-button-disabled: var(--color-platinum-mercury);
  --color-button-hover: var(--color-platinum-deepsea);

  --color-button-cancel: var(--color-platinum-brass);
  --color-button-continue: var(--color-platinum-patina);
}

/* keep this the same as the night theme stuff below here */
@media (prefers-color-scheme: dark) {
  /* Night theme */
  :root {
    --color-header: var(--color-night-universe);
    --color-header-hover: var(--color-night-neptune);
    --color-background: var(--color-night-night);
    --color-overlay: var(--color-night-uranus);

    --color-text: var(--color-night-cloud);
    --color-text-header: var(--color-night-cloud);
    --color-text-dropdown: var(--color-night-cloud);
    --color-text-label: var(--color-night-cloud);
    --color-text-overlay: var(--color-night-cloud);
    --color-text-button: var(--color-night-cloud);
    --color-text-button-hover: var(--color-night-cloud);
    --color-text-active: var(--color-night-space);
    --color-text-disabled: var(--color-night-star);

    --color-radio-hover: var(--color-night-star);
    --color-radio-checked: var(--color-night-gravity);
    --color-radio-content-checked: var(--color-night-space);

    --color-border-textfield: var(--color-night-star);

    --color-button-enabled: var(--color-night-space);
    --color-button-disabled: var(--color-night-gravity);
    --color-button-hover: var(--color-night-star);

    --color-button-cancel: var(--color-night-sun);
    --color-button-continue: var(--color-night-earth);
  }
}

/* Keep this the same as the night theme stuff above here */
/* Night theme */
:root.color-night {
  --color-header: var(--color-night-universe);
  --color-header-hover: var(--color-night-neptune);
  --color-background: var(--color-night-night);
  --color-overlay: var(--color-night-uranus);

  --color-text: var(--color-night-cloud);
  --color-text-header: var(--color-night-cloud);
  --color-text-dropdown: var(--color-night-cloud);
  --color-text-label: var(--color-night-cloud);
  --color-text-overlay: var(--color-night-cloud);
  --color-text-button: var(--color-night-cloud);
  --color-text-button-hover: var(--color-night-cloud);
  --color-text-active: var(--color-night-space);
  --color-text-disabled: var(--color-night-star);

  --color-radio-hover: var(--color-night-star);
  --color-radio-checked: var(--color-night-gravity);
  --color-radio-content-checked: var(--color-night-space);

  --color-border-textfield: var(--color-platinum-iron);

  --color-button-enabled: var(--color-night-space);
  --color-button-disabled: var(--color-night-gravity);
  --color-button-hover: var(--color-night-star);

  --color-button-cancel: var(--color-night-sun);
  --color-button-continue: var(--color-night-earth);
}

/* Elements theme */
:root.color-elements {
  --color-header: var(--color-elements-oxygen);
  --color-header-hover: var(--color-elements-air);
  --color-background: var(--color-elements-snow);
  --color-overlay: var(--color-elements-light);

  --color-text: var(--color-elements-electric);
  --color-text-header: var(--color-elements-snow);
  --color-text-dropdown: var(--color-night-cloud);
  --color-text-label: var(--color-elements-electric);
  --color-text-overlay: var(--color-elements-electric);
  --color-text-button: var(--color-elements-snow);
  --color-text-button-hover: var(--color-elements-electric);
  --color-text-active: var(--color-elements-magnet);
  --color-text-disabled: var(--color-night-star);

  --color-radio-hover: var(--color-elements-stone);
  --color-radio-checked: var(--color-elements-atmos);
  --color-radio-content-checked: var(--color-elements-ice);

  --color-border-textfield: var(--color-elements-stone);

  --color-button-enabled: var(--color-elements-magnet);
  --color-button-disabled: var(--color-elements-rain);
  --color-button-hover: var(--color-elements-spark);

  --color-button-cancel: var(--color-elements-fire);
  --color-button-continue: var(--color-elements-magnet);
}

/* Business theme */
:root.color-business {
  --color-header: var(--color-business-screen);
  --color-header-hover: var(--color-business-meeting);
  --color-background: var(--color-business-computer);
  --color-overlay: var(--color-business-screen);

  --color-text: var(--color-business-workspace);
  --color-text-header: var(--color-business-workspace);
  --color-text-dropdown: var(--color-night-cloud);
  --color-text-label: var(--color-business-workspace);
  --color-text-overlay: var(--color-business-workspace);
  --color-text-button: var(--color-elements-snow);
  --color-text-button: var(--color-elements-snow);
  --color-text-active: var(--color-elements-magnet);
  --color-text-disabled: var(--color-night-star);

  --color-radio-hover: var(--color-business-suit);
  --color-radio-checked: var(--color-business-desk);
  --color-radio-content-checked: var(--color-business-computer);

  --color-border-textfield: var(--color-business-window);

  --color-button-enabled: var(--color-business-activity);
  --color-button-disabled: var(--color-business-meeting);
  --color-button-hover: var(--color-business-desk);

  --color-button-cancel: var(--color-business-alert);
  --color-button-continue: var(--color-business-activity);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transition:  color 0.10s, background-color 0.25s;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
}

header {
    background-color: var(--color-header);
    color: var(--color-text-header);
}

header a {
    color: var(--color-text-header);
}

header li a:hover {
    background-color: var(--color-header-hover);
}

#articles a {
    background-color: var(--color-overlay);
    width: fit-content;
    border-radius: 20px;
    color: var(--color-text-overlay);
    text-decoration: none;
}

#articles a:hover {
    background-color: var(--color-button-hover);
    color: var(--color-text-button-hover);
}

#articles a#new-dashboard {
    background-color: var(--color-button-enabled);
}

.chart  {
    background-color: var(--color-overlay);
    color: var(--color-text-overlay);
    text-decoration: none;
}

.overlay {
    background-color: var(--color-overlay);
    color: var(--color-text-overlay);
    text-align: center;
    margin-block: 3vw;
    margin-inline: 30vw;
    padding: 5vw;
    border-radius: 20px;
}

.overlay a {
  text-decoration: none;
  color: var(--color-button-enabled);
}

.overlay a:hover {
  color: var(--color-button-hover);
}


/*Button style*/

button, input[type="submit"] {
  font-family: 'Roboto', sans-serif;
  min-width: 8rem;
  padding-inline: 1em;
  padding-block: 0.5em;
  background-color: var(--color-button-enabled);
  color: var(--color-text-button);
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
  background-color: var(--color-button-hover);
}

button:disabled, input[type="submit"]:disabled {
  background-color: var(--color-button-disabled);
  cursor:not-allowed;
}


/*Checkbox style*/

input[type=checkbox] {
  width: 1.2em;
  height: 1.2em;
  font-size: 1em;
  accent-color: var(--color-button-enabled);
  color: var(--color-text-button);
  border-radius: 3px;
  border: 2px solid var(--color-button-enabled);
  cursor: pointer;
  appearance: none;
  line-height: 1.2em;
}

input[type=checkbox]:checked {
  background-color: var(--color-button-enabled);
  position: relative;
}

input[type=checkbox]:checked::after {
  font-family: "Material Symbols Outlined";
  content: "\e876";
  position: absolute;
  width: 100%;
  text-align: center;
}

input[type=checkbox]:checked:hover {
  background-color: var(--color-button-hover);
}

input[type=checkbox]:hover:not(:disabled) {
  border-color: var(--color-button-hover);
}

input[type=checkbox]:disabled {
  border-color: var(--color-button-disabled);
  cursor:not-allowed;
}

input[type=checkbox]:disabled:checked {
  border-color: var(--color-button-disabled);
  background-color: var(--color-button-disabled);
}

input[type="text"],
input[type="password"],
input[type="number"],
select,
.drop-field-box {
  border: 1px solid var(--color-border-textfield);
  background-color: transparent;
  color: var(--color-text-overlay);
  border-radius: .4rem;
  padding-inline: .4rem;
  padding-block: 0.1rem;
  width: 100%;
  margin-inline: max(20%, 10px);
  margin-block: 1rem;
  text-align: center;
}

option {
  border: 1px solid var(--color-border-textfield);
  background-color: var(--color-overlay);
  color: var(--color-text-overlay);
}

input:focus::placeholder {
  color: transparent;
}

input[type="submit"] {
  width: 100%;
  margin-inline: max(40%, 10px);
  margin-block: 2rem;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

form {
  background-color: var(--color-overlay);
  margin-top: 30px;
  padding: 30px;
  width: 40%;
  position: absolute;
  left: 30%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form text {
  width: 100%;
  text-align: center
}

fieldset {
  width: 100%;
  border: 1px solid var(--color-border-textfield);
  border-radius: 20px;
  padding: 1.5rem;
}

fieldset:not(:last-child) {
  margin-bottom: 1.5rem;
}

fieldset input[type="text"], fieldset select {
  width: 80%;
  margin-inline: 10%;
}

legend {
    padding-inline: 0.7rem;
}

.logout {
  background-color: var(--color-button-cancel);
}

.cancel {
  background-color: var(--color-button-cancel);
  float: left;
}

input[type="submit"].confirm,
.confirm {
  background-color: var(--color-button-continue);
  float: right;
  width: unset;
  margin-inline: unset;
  margin-block: unset;
}

input[type="submit"].confirm:hover,
.confirm:hover {
  background-color: var(--color-button-hover);
}