#usersTable {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accounts {
    background-color: var(--color-overlay);
    margin-top: 30px;
    padding: 30px;
    left: 10%;
    width: 80%;
    position:relative;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table td {
padding-inline: 15px;
    padding-block: 15px;
    text-align: center;
}

table th {
    padding-inline: 5px;
    padding-bottom: 5px;
    padding-top: 0;
    text-align:center;
}

table {
    border-spacing: 0px;
}

tr:nth-child(even) {
    border-radius: 10px;
    background-color: #00000045;
}

tr td:first-child {
    border-top-left-radius: 10px;
}

tr td:last-child {
    border-top-right-radius: 10px;
}

tr td:first-child {
    border-bottom-left-radius: 10px;
}

tr td:last-child {
    border-bottom-right-radius: 10px;
}

.accounts a {
    text-decoration: none;
    color: var(--color-button-enabled);
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.accounts a span {
    font-size: 12px;
}

.accounts a:hover {
    text-decoration: none;
    color: var(--color-button-hover);
}
