input[type="radio"]+label span {
  width: 4rem;
  height : 4rem;
  text-align: center;
  line-height: 4rem;
  border-radius: 1rem;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  margin: 5px;
}

input[type="radio"]:checked+label span {
  color: var(--color-radio-content-checked);
  background-color: var(--color-radio-checked);
}

input[type="radio"]:hover:not(:checked)+label span {
  background-color: var(--color-radio-hover);
}

input[type="radio"] {
  visibility: hidden;
  width: 0;
}

.double-button {
    width: 100%;
    padding-top: 1rem;
    padding-inline: 1rem;
}