#page-content {
    display: flex;
}

.overlay {
    width: 40vw;
    left: 30%;
    position: absolute;
    margin-inline: unset;
}

#general-information,
#label,
#chart-preview,
#datasets,
#draggables {
    width: calc(25vw - 2rem);
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 20px;
    color: var(--color-text-overlay);
    background-color: var(--color-overlay);
    position: fixed;
    overflow-y: scroll;
    top: calc(15vh + 22px);
}

#general-information::-webkit-scrollbar,
#label::-webkit-scrollbar,
#chart-preview::-webkit-scrollbar,
#datasets::-webkit-scrollbar,
#draggables::-webkit-scrollbar {
  display: none;
}

#general-information h2,
#label h2,
#chart-preview h2,
#datasets h2,
#draggables h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 0.8rem;
}

#general-information,
#label,
#datasets {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#general-information {
    left: 0;
    height: 30vh;
}

#label {
    left: 25vw;
    height: 30vh;
}

#chart-preview {
    left: 0;
    top: calc(45vh + 22px + 2rem);
    height: calc(45vh - 2rem);
    width: calc(50vw - 2rem);
    display: flex;
    justify-content: center;
}
#chart-preview h2{
    width: 100%;
    position: absolute;
}

#chart-preview canvas {
  padding-top: 2rem;
}

#load-preview{
    position: absolute;
    right: 2rem;
}

#datasets {
    left: 50vw;
    height: 75vh;
}

#draggables {
    left: 75vw;
    height: 75vh;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-group-header {
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.drop-field-box {
  height: 1.5rem;
  padding: unset;
  float: left;
  width: 80%;
  margin-inline: 10%;
}

.drop-field {
  height: 1.5rem;
  width: 90%;
  padding: unset;
  float: left;
  overflow: hidden;
}

.drop-field-box .material-icons-round {
  float: left;
  width: 10%;
  user-select: none;
}

.drop-field-box .material-icons-round:hover {
  cursor: pointer;
  user-select: none;
}

.drop-field .drag-item {
    margin-top: 0;
    width: 100%;
}

.drag-item {
  height: 1.5rem;
  background-color: var(--color-button-enabled);
  color: var(--color-text-button);
  border-radius: .4rem;
  padding-inline: 1rem;
  margin-top: 0.2rem;
  width: min-content;
  text-align: center;
}

.drag-item:hover {
  cursor: pointer;
  background-color: var(--color-button-hover);
  color: var(--color-text-button-hover);
}

input[type="text"], input[type="number"], select, .drop-field-box {
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

.table-group-header {
  cursor: pointer;
  transition: 0.4s;
}

.column-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.table-group-header:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

form {
    background-color: unset;
    margin-top: 30px;
    padding: unset;
    width: unset;
    position: unset;
    left: unset;
    border-radius: unset;
    display: flex;
    flex-wrap: unset;
    justify-content: unset;
}

h1 {
    margin-top: -0.5rem;
    width: 100vw;
    position: absolute;
    z-index: -100;
}

.confirm {
    right: 4vw;
    position: absolute;
}

.cancel {
    left: 4vw;
    position: absolute;
}

#create-new-chart {
    margin-top: 0.85vh;
}

.double-input {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.double-input label,
.double-input input,
.double-input select {
    width: 100%;
    margin-inline: 2rem;
}